.blue {
  background: #4590DD !important;
  border: none !important;
  color: #fff !important;
  background: linear-gradient(90deg, #3F71C9 0%, #4787F8 100%) !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;

  &:hover {

    color: #000 !important;
    border: none !important;
    background-color: #fff !important;
    background: linear-gradient(90deg, #fff 0%, #fff 100%) !important;
  }

}