.title {
    color: #fff;
    font-size: 60px;
}

.paragrapgh {
    font-size: 24px;
    color: #fff;
}

.btn {
    height: 65px !important;
    width: 213px !important;
    font-size: 18px !important;
    color: #fff !important;
}