@font-face {
    font-family: 'Monument-Regular';
    src: url('../assets/fonts/Monument/MonumentExtended-Regular.otf');
}

@font-face {
    font-family: 'Monument-Ultra';
    src: url('../assets/fonts/Monument/MonumentExtended-Ultrabold.otf');
}

@font-face {
    font-family: 'Grandis-Regular';
    src: url('../assets/fonts/Grandis/GrandisExtended-Regular.ttf');
}

@font-face {
    font-family: 'Grandis-Bold';
    src: url('../assets/fonts/Grandis/GrandisExtended-Bold.ttf');
}

@font-face {
    font-family: 'Grandis-Light';
    src: url('../assets/fonts/Grandis/GrandisExtended-Light.ttf');
}


body {
    background-color: #F5F9FC;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Grandis-Regular';
}

h2 {
    font-family: "Monument-Regular";
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1640px;
    margin: 0 auto;

    @media screen and (max-width: 1640px) {
        max-width: 95%;
        margin: 0 auto;
    }
}

.section-target-container {
    background-image: url("../assets/section_target/section_target.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 820px;
    width: 100%;
    margin-top: 65px;

    @media screen and (max-width: 670px) {
        background-position: left;
        height: 413px;
    }
}

.section-target {
    max-width: 1640px;
    margin: 0 auto;
    height: 85%;



    @media screen and (max-width: 1640px) {
        max-width: 95%;
        margin: 0 auto;
    }
}

// CloseIconInDrawer
:where(.css-dev-only-do-not-override-m4timi).ant-drawer .ant-drawer-content {
    font-size: 29px !important;
}

//BoxShadowForDrawer
:where(.css-dev-only-do-not-override-m4timi).ant-drawer-left>.ant-drawer-content-wrapper {
    box-shadow: none !important;
}

//BoxShadowForDrawer
:where(.css-dev-only-do-not-override-m4timi).ant-drawer-right>.ant-drawer-content-wrapper {
    box-shadow: none !important;
}

//InputInNavbar
:where(.css-dev-only-do-not-override-m4timi).ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector {
    border: none !important;
    background-color: transparent !important;
    outline: none !important;
}

//InputBoxShadowOutline
.ant-select-focused:where(.css-dev-only-do-not-override-m4timi).ant-select-outlined:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer) .ant-select-selector {
    box-shadow: none !important;
}