@font-face {
    font-family: 'Monument-Regular';
    src: url('../assets/fonts/Monument/MonumentExtended-Regular.otf');
}

@font-face {
    font-family: 'Monument-Ultra';
    src: url('../assets/fonts/Monument/MonumentExtended-Ultrabold.otf');
}

@font-face {
    font-family: 'Grandis-Regular';
    src: url('../assets/fonts/Grandis/GrandisExtended-Regular.ttf');
}

@font-face {
    font-family: 'Grandis-Medium';
    src: url('../assets/fonts/Grandis/GrandisExtended-Medium.ttf');
}

@font-face {
    font-family: 'Grandis-Bold';
    src: url('../assets/fonts/Grandis/GrandisExtended-Bold.ttf');
}

@font-face {
    font-family: 'Grandis-Light';
    src: url('../assets/fonts/Grandis/GrandisExtended-Light.ttf');
}


body {
    background-color: rgba(245, 249, 252, 1);
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Grandis-Regular';
}

h2 {
    font-family: "Monument-Regular";
}

p {
    font-family: 'Grandis-Light';

}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.qwerty {
    margin-bottom: 200px;
}

.container {
    max-width: 1640px;
    margin: 0 auto;

    @media screen and (max-width: 1640px) {
        max-width: 95%;
        margin: 0 auto;
    }
}

.search_container {
    display: none;

    @media screen and (max-width: 670px) {
        display: flex;
        justify-content: center;
        max-width: 95%;
        margin: 0 auto;

    }
}

.knowMoreButton {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    font-family: "Monument-Regular";
    margin-top: 20px;

    @media screen and (max-width: 960px) {
        font-size: 15px;
    }


}

// CloseIconInDrawer
:where(.css-dev-only-do-not-override-m4timi).ant-drawer .ant-drawer-content {
    font-size: 29px !important;
}

//BoxShadowForDrawer
:where(.css-dev-only-do-not-override-m4timi).ant-drawer-left>.ant-drawer-content-wrapper {
    box-shadow: none !important;
}

//BoxShadowForDrawer
:where(.css-dev-only-do-not-override-m4timi).ant-drawer-right>.ant-drawer-content-wrapper {
    box-shadow: none !important;
}

//InputInNavbar
:where(.css-dev-only-do-not-override-m4timi).ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector {
    border: none !important;
    background-color: transparent !important;
    outline: none !important;
}

//InputBoxShadowOutline
.ant-select-focused:where(.css-dev-only-do-not-override-m4timi).ant-select-outlined:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer) .ant-select-selector {
    box-shadow: none !important;
}

//DotsInCarouselServices
:where(.css-dev-only-do-not-override-m4timi).ant-carousel .slick-dots-bottom {
    bottom: -22px !important;
}

:where(.css-dev-only-do-not-override-m4timi).ant-carousel .slick-dots li {
    background: rgba(179, 179, 179, 1) !important;
    width: 8px !important;
    height: 8px !important;
    border-radius: 16px !important;
}

:where(.css-dev-only-do-not-override-m4timi).ant-carousel .slick-dots li.slick-active button {
    background: black !important;
    width: 8px !important;
    height: 8px !important;
    border-radius: 16px !important;
}

//TabsWidth
:where(.css-dev-only-do-not-override-m4timi).ant-tabs {
    width: 100% !important;
    border-bottom: none !important;
}

//TabsItem
:where(.css-dev-only-do-not-override-m4timi).ant-tabs .ant-tabs-tab+.ant-tabs-tab {
    @media (max-width: 850px) {
        margin: 0px !important;
        padding: 0px !important;
        ;
    }
}

:where(.css-dev-only-do-not-override-m4timi).ant-tabs>.ant-tabs-nav .ant-tabs-nav-list,
:where(.css-dev-only-do-not-override-m4timi).ant-tabs>div>.ant-tabs-nav .ant-tabs-nav-list {
    @media (max-width: 850px) {
        gap: 0px !important;
        flex-wrap: wrap !important;
        justify-content: space-between !important;
    }
}

//FormBackground
:where(.css-dev-only-do-not-override-m4timi).ant-modal .ant-modal-content {
    background-color: #2F2F2F !important;
}

//SvgColor
:where(.css-dev-only-do-not-override-m4timi)[class^="ant-modal"] [class^="ant-modal"],
:where(.css-dev-only-do-not-override-m4timi)[class*=" ant-modal"] [class^="ant-modal"],
:where(.css-dev-only-do-not-override-m4timi)[class^="ant-modal"] [class*=" ant-modal"],
:where(.css-dev-only-do-not-override-m4timi)[class*=" ant-modal"] [class*=" ant-modal"] {
    svg {
        color: #fff !important;
    }
}