.video_1 {
    width: 952px !important;
    height: 504px !important;
}

.video_2 {
    width: 526px !important;
    height: 244px !important;
}

.video_3 {
    width: 400px !important;
    height: 244px !important;
}

.video_4 {
    width: 400px !important;
    height: 244px !important;
}

.video_5 {
    width: 526px !important;
    height: 244px !important;
}

.video {
    object-fit: cover !important;
    border: none !important;
}

.video_main {
    justify-content: center;
    gap: 30px;
}

.video_container_second {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 48px;
}

.videoComponentMobile {
    display: none;
}


.tabs_main {
    margin-bottom: 46px;

    //UnderLine
    div>div:first-child::before {
        display: none !important;
    }


    div>div:first-child>div>div>div:last-child {
        background: transparent !important;
    }
}

.btn {
    height: 65px !important;
    width: 213px !important;
    font-size: 18px !important;
    color: #fff !important;
}

.secons_title {
    color: rgba(101, 101, 101, 1);
    font-size: 32px;
}

.text {
    font-size: 18px;
    color: rgba(101, 101, 101, 1);
}

.utils {
    margin-top: 20px;
}

.container_video_series {
    margin-top: 33px !important;
}


@media (max-width:1850px) {
    .video_1 {
        width: 852px !important;
    }
}

@media (max-width: 1486px) {
    .video_1 {
        width: 85vh !important;
    }

    .video_2 {
        width: 45vh !important;
    }

    .video_3 {
        width: 55vh !important;
    }

    .video_4 {
        width: 55vh !important;
    }

    .video_5 {
        width: 45vh !important;
    }

    .video_main {
        gap: 30px !important;
        justify-content: space-between !important;
    }
}

@media (max-width: 670px) {

    .video_mobile {
        width: auto !important;
        height: auto !important;
        border-radius: 10px;
        border: none !important;
    }

    .iFrameContainer {
        display: flex !important;
        justify-content: center !important;
    }

    .secons_title {
        font-size: 20px;
    }

    .main_title_container {
        justify-content: flex-start !important;
    }

    .title {
        font-size: 20px;
    }

    .text {
        font-size: 12px;
    }

    .contact {
        font-size: 12px;
    }

    .btn {
        border-radius: 30px !important;
        height: 35px !important;
        width: auto !important;
    }

    .tab_container {
        max-width: 95%;
        margin: 0 auto;
    }
}