.video_1 {
    width: 952px !important;
    height: 504px !important;
}

.video_2 {
    width: 526px !important;
    height: 244px !important;
}

.video_3 {
    width: 400px !important;
    height: 244px !important;
}

.video_4 {
    width: 400px !important;
    height: 244px !important;
}

.video_5 {
    width: 526px !important;
    height: 244px !important;
}

.video {
    object-fit: cover !important;
    border: none !important;
}

.video_main {
    justify-content: center;
    gap: 30px;
}

.video_container_second {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 48px;
}


.tabs_main {
    margin-bottom: 46px;

    //UnderLine
    div>div:first-child::before {
        display: none !important;
    }


    div>div:first-child>div>div>div:last-child {
        background: transparent !important;
    }
}

.btn {
    height: 65px !important;
    width: 213px !important;
    font-size: 18px !important;
    color: #fff !important;
}

.secons_title {
    color: rgba(101, 101, 101, 1);
    font-size: 32px;
}

.text {
    font-size: 18px;
    color: rgba(101, 101, 101, 1);
}

.utils {
    margin-top: 20px;
}


@media (max-width:1850px) {
    .video_1 {
        width: 98% !important;
    }
}

@media (max-width: 1486px) {
    .video_2 {
        width: 60% !important;
    }

    .video_3 {
        width: 45% !important;
    }

    .video_4 {
        width: 60% !important;
    }

    .video_5 {
        width: 45% !important;
    }
}

@media (max-width:670px) {
    .video_1 {
        display: none !important;
    }

    .video {
        height: 100% !important;
    }

    .video_2 {
        width: 190px !important;
    }

    .video_3 {
        width: 153px !important;
    }

    .video_4 {
        width: 153px !important;
    }

    .video_5 {
        width: 190px !important;
    }

    .video_main {
        justify-content: center !important;
    }

    .secons_title {
        font-size: 20px;
    }

    .main_title_container {
        justify-content: flex-start !important;
    }

    .title {
        font-size: 20px;
    }

    .text {
        font-size: 12px;
    }

    .contact {
        font-size: 12px;
    }

    .btn {
        border-radius: 30px !important;
        height: 35px !important;
        width: auto !important;
    }

    .tab_container {
        max-width: 95%;
        margin: 0 auto;
    }
}