.carousel {
    display: none !important;
}

@media (max-width: 670px) {
    .carousel {
        display: initial !important;
    }

    .sliderSolutions {
        display: flex !important;
        justify-content: center !important;
    }
}