.main {
    margin-top: 111px;

    @media (max-width:670px) {
        margin-top: 10px;
    }


}

.title {
    font-size: 48px;

}

.btn {
    height: 65px !important;
    width: 213px !important;
    font-size: 18px !important;
    color: #fff !important;
}

.subscription {
    margin-top: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 822px;


    @media (max-width:670px) {
        margin-top: 10px;
    }
}

.section_text {
    padding-top: 221px;
}

.title_second {
    font-size: 60px;
    color: #fff;
}

.text {
    color: #fff;
    font-size: 24px;
    max-width: 805px;
}




@media (max-width: 670px) {
    .btn {
        border-radius: 30px !important;
        height: 58px !important;
        width: 141px !important;
    }

    .title_second {
        font-size: 20px !important;
    }

    .text {
        font-size: 12px;
    }

    .subscription {
        height: 390px !important;
    }

    .section_text {
        padding-top: 100px !important;
    }

    .title {
        font-size: 20px;
    }
}

@media (max-width:1030px) {
    .title_second {
        font-size: 45px;
    }

    .subscription {
        height: 622px;
    }

    .section_text {
        padding-top: 130px;
    }
}