.iframe {
    width: 812px;
    height: auto;
    border-radius: 5px;
    border: none;
}

.wrapper {
    margin-top: 111px;
    gap: 16px;
}

.wrapper_right {
    flex-direction: column;
    row-gap: 60px;

    @media screen and (max-width: 670px) {
        row-gap: 20px;
    }
}

.title {
    color: rgba(101, 101, 101, 1);
    font-size: 32px;
    text-transform: uppercase;
}

.text {
    font-size: 18px;
    color: rgba(101, 101, 101, 1);
}

.image {
    object-fit: cover;
    height: 100%;
    width: 405px !important;
    height: 220px !important;
    border-radius: 5px;
}

.paragraph_open_mobile {
    display: none !important;
}

.hr {
    display: none;

    @media (max-width: 670px) {
        display: block;
        background-color: rgba(101, 101, 101, 1);
        height: 1.5px;
        width: 100%;
        border: none;
        margin: 10px auto 10px auto;
    }
}

@media (max-width:1645px) {
    .image {
        width: 365px !important;
    }
}


@media screen and (max-width:1585px) {
    .iframe {
        width: 612px;
    }

    .image {
        width: 365px !important;
    }

    .imageContainer {
        justify-content: center;
    }
}

@media screen and (max-width: 1270px) {
    .iframe {
        width: 412px;
    }
}

@media screen and (max-width: 1070px) {
    .wrapper {
        flex-direction: column !important;
    }

    .iframe {
        width: 100%;
        height: 402px
    }

    .image {
        width: 405px !important;
    }
}

@media screen and (max-width: 820px) {
    .image {
        width: 290px !important;

    }
}

@media screen and (max-width: 670px) {
    .wrapper_left {
        display: none !important;
    }

    .wrapper {
        margin-top: 10px;
    }

    .image {
        width: 50% !important;
        height: 120px !important;
    }

    .imageContainer {
        justify-content: space-between !important;
    }

    .title {
        font-size: 20px;
    }

    .text {
        font-size: 12px;
    }

    .paragraph_open_mobile {
        display: initial !important;
    }

    .paragraph_open {
        display: none !important;
    }

    .paragraph {
        display: none !important;
    }

    .btn_down {
        display: none !important;
    }
}