.logo {
    cursor: pointer;
}

.lang {
    font-size: 18px;
    color: #656565;
}

.burger {
    width: 43px;
    height: 21px;
    cursor: pointer;
}

.en {
    width: 48px;
    height: 31px;
}

.input {
    width: 478px;
    height: 55px;
    box-sizing: border-box;
    border-radius: 100px;
    border: none;
    color: #2F2F2F80;
    font-size: 19px;
    background-color: #F5F9FC;
    background-image: url('../../assets/svgs/navbar/search.svg');
    background-position: 8px 16px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    box-shadow: 0px 0px 10px 0px #00000033;
    outline: none;
    font-family: sans-serif;
}

.input_text {
    color: #656565;
    font-size: 16px;
}